.barra {
    position: fixed;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--colorUI);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 30px;
    padding: 4px 8px;
    width: 40vw;
    min-width: 30vw;
    max-width: 672px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    height: 3vw;
}


.boton {
    background-color: transparent;
    color: var(--color-texto-negro-cambio);
    border: none;
    border-radius: 15px;
    padding: 4px 6px;
    margin: 0 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    font-weight: normal;
    white-space: nowrap;
    font-size: clamp(1rem, 1vw,1.3rem);
    text-decoration: none; /* Para quitar subrayado en <Link> */
    display: inline-flex;
    align-items: center;

}

/* Contenedor del menú desplegable */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Icono del dropdown */
.dropdownSymbol {
    margin-left: 4px;
    display: inline-block;
    transform: translateY(1px);
    width: 12px;
    height: 12px;
}

/* Menú desplegable */
.panel {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--colorUI);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 0 0 15px 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 6px 0;
    width: 100%; /* Ahora el panel tiene el mismo ancho que el botón */
    min-width: max-content; /* Se adapta si el contenido es mayor */
    z-index: 1001;
}

/* Botones dentro del menú desplegable */
.panel .boton {
    padding: 6px 12px;
    text-align: left;
    width: 100%;
    border-radius: 0;
    font-weight: normal;
}

/* Cuando pasas el mouse sobre un botón del menú */
.panel .boton:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* Estilo especial para "Lidermania" */
.highlight {
    font-weight: normal;
    background: var(--color-rojo-general-cambio);
    border-radius: 15px;
    color: #ffffff;
    font-size: clamp(1rem, 0.9vw, 1.1rem);
    margin-left: 3px;
    padding: 0px 4px;
    letter-spacing: 0.2px;
}

@media(max-width: 1330px){
    .barra{
        width: 50vw;
    }
}

/* Ajustes para tablets */
@media(max-width:  1200px){

    .barra {
        min-width: 0px;
        max-width: 672px;
        height: 3.5vw;
    }
    .boton {
        font-size: clamp(1.1rem, 1.5vw,1.4rem);
    }


    /* Estilo especial para "Lidermania" */
    .highlight {
        font-size: clamp(1rem, 0.9vw, 1.1rem);
    }
}
@media (max-width: 1200px) {
    .barra{
        transform: translateX(-60%);
        width: 50vw;
    }

}
@media (max-width: 1100px) {
    .barra{
        transform: translateX(-60%);
        width: 55vw;
    }
}
@media (max-width: 1024px) {
    .barra {
        padding: 4px 6px;
    }

    .boton {
        font-size: 1rem;
    }
    .highlight {
        font-size: 0.95rem;
    }
}

/* Ajustes para móviles */
@media (max-width: 768px) {
    .barra {
        min-width: 80vw;
        max-width: 90vw;
        padding: 4px 4px;
    }

    .boton {
        font-size: clamp(0.55rem, 1vw, 0.7rem);
    }
}

