.contenedorPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    gap: 1rem;
}

.filaSuperior {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    max-width: 1920px;
    height: clamp( 20px, 10vw, 70px);
    justify-content: center;
}

.barra {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.1rem 0.6rem;
    background-color: white;
    width: 70%;
    height: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    position: relative; /* Añadido */
}

.input {
    border: none;
    outline: none;
    font-size: clamp( 20px, 2vw, 40px);
    flex: 1;
    background: transparent;
    padding: 0 0.4rem;
    color: #000;
}

.botonBuscar {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 0 0.2rem;
    color: #555;
    height: 100%;
    position: absolute; /* Añadido */
    right: 0; /* Añadido */
}

.botonFiltros {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
    padding: 0.25rem 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.2s;
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonFiltros:hover {
    background-color: #e0e0e0;
}

.filtrosContenedor {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    width: 80%;
    height: auto;
    background-color: #d5d5d5;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.filtro label {
    display: block;
    font-size: clamp(16px, 1.2vw, 25px);
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #333;
}

.filtro select {
    width: 100%;
    height: clamp(40px, 4vw, 60px);
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: white;
    font-size: 0.95rem;
    color: #444;
    font-weight: 500;
    transition: border-color 0.2s;
    
}

.filtro select:focus {
    border-color: #999;
    outline: none;
}
.ImagenBoton{
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    display: block;
}
@media (max-width: 768px) {
    .botonFiltros{
        width: 20%;
    }
    .barra {
        width: 60%;
    }

}