.ContenedorPadre{
    width: 100vw;
    height: 500vw;
}
.ContenedorDelAncho{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.TituloDelComponente{
    position: absolute;

}
.GridPadre{
    height: 100%;
    width: 100%;
    margin-left: 4%;
    margin-right: 1%;
    display: grid;
    grid-template-columns: calc(95% - 186px) 36px 10%; /* 3 columnas iguales */
    grid-template-rows: 150px repeat(13, auto)  0.3fr;
    row-gap: 100px;
}


.LineaDeTiempoImg{
    width: 100%;
    grid-column: 2; /* Va en la columna 2  */
    grid-row: 1 / -1;     /* Va desde la fila 1 hasta antes de la 3 */
    height: 100%;
}

.ContenedorGeneralConImagen{

    grid-row: 1;
    overflow: hidden;
    /*transform: translateX(-50px);*/
    height: 100%;
    margin-bottom: auto;
}
.gridDeContenedorConImagen{
    display: grid;
    grid-template-rows: repeat(2, auto); /* 3 columnas iguales */
    padding-bottom: 3%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
}
.ContenedorGeneralNormal,
.ContenedorGeneralConImagen{
    background: var(--color-rojo-general-cambio);
    border-radius: 15px;
    width: calc(100% - 50px);


    padding: 10px;
}
.TextoDeContenedorImg{
    grid-row: 2;
    display: flex;
    flex-direction: column; /* De arriba hacia abajo */
    margin: auto 0;
}

.LaImagen{
    grid-row: 1;
    height: 90%; /* o directamente quita height si no es necesario */
    width: 90%;
    overflow: hidden;
    margin: auto 15px;
    border-radius: 20px;
}
.Imagen{
    display: block;
    object-position: 50% 10%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ContenedorGeneralNormal{
    grid-row: 2;
    height: 100%;

    padding: 3%;
    padding-top: 5%     ;
}
.Titulo,
.Texto,
.NumeroPunto{
    margin: 0 0;
}

.NumeroPunto{
    color: var(--color-texto-negro-cambio2);
}
.Titulo,
.Texto{
    color: var(--color-texto-blanco);
}
.Titulo{
    margin-top: 20px;
    margin-bottom: 20px;
}







.Contenedor1 {
    grid-row: 1;
}
.Contenedor2{
    grid-row: 2;
}
.Contenedor3{
    grid-row: 3;
}
.Contenedor4{
    grid-row: 4;
}
.Contenedor5{
    grid-row: 5;
}
.Contenedor6{
    grid-row: 6;
}
.Contenedor7{
    grid-row: 7;
}
.Contenedor8{
    grid-row: 8;
}
.Contenedor9{
    grid-row: 9;
}
.Contenedor10{
    grid-row: 10;
}
.Contenedor11{
    grid-row: 11;
}
.Contenedor12{
    grid-row: 12;
}
.Contenedor13{
    grid-row: 13;
}
.Contenedor14{
    grid-row: 14;
}
.Contenedor15{
    grid-row: 15;
}

.Contenedor1,
.Contenedor2,
.Contenedor3,
.Contenedor4,
.Contenedor5,
.Contenedor6,
.Contenedor7,
.Contenedor8,
.Contenedor9,
.Contenedor10,
.Contenedor11,
.Contenedor12,
.Contenedor13,
.Contenedor14,
.Contenedor15 {
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: grid;*/
    /*grid-template-rows: 320px 170px;*/
    /*row-gap: 10%;*/
    /*grid-column: 1;*/
}


.contenedorPunto{
    grid-column: 3;
    /*margin-top: calc(153px + ((clamp(1120px, 100vw, 1920px) - 1120px) * (10 / 800)));*/
    margin: auto auto;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center; /* centro vertical */
    display: flex;

    flex-direction: column;

}
.ImagenPunto{
    height: 100px;
}
.NumeroPunto{
    font-size: 25px;
}







.ElContenedor1 {
    grid-row: 2 / 3;

}
.ElContenedor2 {
    grid-row: 2 / 4;
    margin-top: 470px;
}
.ElContenedor3 {
    grid-row: 4;
}
.ElContenedor4 {
    grid-row: 5;
}
.ElContenedor5 {
    grid-row: 6;
}
.ElContenedor6 {
    grid-row: 7/9;
    margin-top: 400px;
}
.ElContenedor7 {
    grid-row: 9;
}
.ElContenedor8 {
    grid-row: 10;
}
.ElContenedor9 {
    grid-row: 11;
}
.ElContenedor10 {
    grid-row: 12;
}
.ElContenedor11 {
    grid-row: 13;
}
.ElContenedor12 {
    grid-row: 14;
}
.ElContenedor13 {
    grid-row: 15;
}
.ElContenedor14 {
    grid-row: 16;
}











@media (min-width: 1500px) {
    .Titulo {
        font-size: 28px;
    }

    .Texto {
        font-size: 20px;
    }
}

@media(max-width: 950px) {
    .ElContenedor2 {
        position: relative;
        top: -5%;
    }
}

@media (max-width: 900px) {
    .ContenedorPadre{
        height: 600vw;
    }
    .ElContenedor2 {
        top: -50px;
    }
    .GridPadre{
        /*grid-template-columns: calc(95% - 186px) 36px 10px; !* 3 columnas iguales *!*/
        margin-left: 5%;
        grid-template-rows: 120px repeat(13, auto)  0.01fr;
    }
}
@media (max-width: 800px) {
    .GridPadre{
        /*grid-template-columns: calc(95% - 186px) 36px 10px; !* 3 columnas iguales *!*/
        margin-left: 5%;
        grid-template-rows: 120px repeat(13, auto)  0.3fr;
    }
    .ElContenedor2 {
        top: -100px;
    }
}

@media (max-width: 768px) {
    .ContenedorPadre{
        height: 650vw;
    }
    .GridPadre{
        margin-left: 6%;
    }
    .ContenedorGeneralNormal,
    .ContenedorGeneralConImagen{
        width: 100%;

    }
    .LineaDeTiempoImg{
        margin-left: 10px;
    }
    .contenedorPunto{
        transform: translateX(20px);
    }







}

@media (max-width: 700px) {
    .Titulo{
        font-size: 18px;
    }
    .Texto{
        font-size: 16px;
    }
    .LaImagen,
    .Imagen{
        margin: 0 auto;
    }


    .GridPadre{
        /*grid-template-columns: calc(95% - 186px) 36px 10px; !* 3 columnas iguales *!*/
        /*margin-left: 100px;*/
        margin-right: 0;
        grid-template-rows: 100px repeat(13, auto)  0.3fr;
    }
    .contenedorPunto{
        transform: translateX(30px);
    }
    .ContenedorGeneralNormal,
    .ContenedorGeneralConImagen{
        width: 100%;

    }
    .LineaDeTiempoImg{
        margin-left: 25px;
    }


    .ContenedorPadre{
        height: 700vw;
    }


}

@media (max-width: 650px) {
    .GridPadre{
        margin-left: 4%;
    }
    .ContenedorGeneralNormal,
    .ContenedorGeneralConImagen{
        width: 110%;

    }
    .LineaDeTiempoImg{
        margin-left: 60px;
    }
    .contenedorPunto{
        transform: translateX(50px);
    }
}

@media (max-width: 630px) {
    .ContenedorPadre{
        height: 750vw;
    }
}

@media (max-width: 600px) {
    .ContenedorGeneralNormal,
    .ContenedorGeneralConImagen{
        width: 110%;
        height: 100%;

    }
    .LineaDeTiempoImg{
        margin-left: 60px;
        width: 50%;
    }
    .GridPadre{
        /*grid-template-columns: calc(95% - 186px) 36px 10px; !* 3 columnas iguales *!*/
        /*margin-left: 100px;*/
        margin-left: 4%;
        row-gap: 50px;
        grid-template-rows: 150px repeat(13, auto)  0.01fr;
    }
    .ContenedorPadre{
        height: 750vw;
        min-height: 4550px;
    }



    .LaImagen{
        min-height: 150px!important;
    }
    /*.ContenedorGeneralConImagen{*/
    /*    min-height: 250px!important;*/
    /*}*/

    .ContenedorGeneralNormal{
        position: relative;
        padding-top: 10px;
        padding-bottom:10px ;
    }
    .ContenedorGeneralNormal p{
        margin: 0 1%;
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
    }
    .ElContenedor2 {
        top: -40px;
    }
}
@media (max-width: 550px) {
    .ContenedorPadre{
        height: 850vw;
    }


}

@media (max-width: 500px) {
    .ContenedorGeneralNormal,
    .ContenedorGeneralConImagen{
        width: 120%;

    }
    .LineaDeTiempoImg{
        margin-left: 70px;
    }

    .contenedorPunto{
        transform: translateX(60px);
    }
    .GridPadre{
        /*grid-template-columns: calc(95% - 186px) 36px 10px; !* 3 columnas iguales *!*/
        /*margin-left: 100px;*/
        margin-left: 4%;
    }
}

/*160*/
@media (max-width: 450px) {
    .LineaDeTiempoImg{
        margin-left: 85px;
    }
    .ContenedorGeneralNormal,
    .ContenedorGeneralConImagen{
        width: 135%;

    }
    .GridPadre{
        /*grid-template-columns: calc(95% - 186px) 36px 10px; !* 3 columnas iguales *!*/
        /*margin-left: 100px;*/
        margin-left: 1.5%;
    }
    .contenedorPunto{
        transform: translateX(70px);
    }
}
@media (max-width: 400px) {
    .LineaDeTiempoImg{
        margin-left: 115px;
        width: 50%;
    }
    .ContenedorGeneralNormal,
    .ContenedorGeneralConImagen{
        width: 165%;

    }
    .GridPadre{
        /*grid-template-columns: calc(95% - 186px) 36px 10px; !* 3 columnas iguales *!*/
        /*margin-left: 100px;*/
        margin-left: 1.5%;
    }
    .contenedorPunto{
        transform: translateX(80px);
    }
}

@media (max-width: 370px) {
    .ContenedorGeneralNormal,
    .ContenedorGeneralConImagen{
        width: 180%;

    }
    .ContenedorGeneralNormal{
        padding-top: 30px;
        padding-bottom:30px ;
    }
}
@media (max-width: 340px) {
    .ContenedorGeneralNormal{
        padding-top: 60px;
        padding-bottom:60px ;
    }
}
@media (max-width: 320px) {
    .ContenedorGeneralNormal,
    .ContenedorGeneralConImagen{
        width: 220%;

    }
    .ContenedorGeneralNormal{
        padding-top: 30px;
        padding-bottom:30px ;
    }
}