.ContenedorPadre{
    width: 100vw;
    height: 5000px;

}
.ContenedorDelAncho{
    width: 90%;
    margin: 0 auto;
    height: 100%;
    position: relative;
}
.TituloDelComponente{
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 3%;
}
.GridPadre{

    height: 100%;
    margin-left: 4%;
    margin-right: 1%;
    display: grid;
    grid-template-columns: 2fr auto 1fr; /* 3 columnas iguales */
    grid-template-rows: 200px repeat(11, 1fr)  0.4fr;
    row-gap: 100px;
}

.LineaDeTiempoImg{
    width: 36px;
    grid-column: 2; /* Va en la columna 2  */
    grid-row: 1 / -1;     /* Va desde la fila 1 hasta antes de la 3 */
    height: 100%;
}

.ContenedorGeneralConImagen{

    grid-column: 1;
    overflow: hidden;
    /*transform: translateX(-50px);*/
    height: 90%;
    margin-bottom: auto;
}
.gridDeContenedorConImagen{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columnas iguales */
    grid-template-rows: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
}
.ContenedorGeneralNormal,
.ContenedorGeneralConImagen{
    background: var(--color-rojo-general-cambio);
    border-radius: 15px;
    width: calc(100% - 50px);


    padding: 10px;
}
.TextoDeContenedorImg{
    grid-column: 2;
    display: flex;
    flex-direction: column; /* De arriba hacia abajo */
    margin: auto 0;
}
.LaImagen{
    grid-column: 1;
    height: 90%; /* o directamente quita height si no es necesario */
    width: 90%;
    overflow: hidden;
    margin: auto 15px;
    border-radius: 20px;
}
.Imagen{
    display: block;
    object-position: 50% 10%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.ContenedorGeneralNormal{
    grid-column: 3;
    transform: translateX(50px);
    height: 40%;
    padding-top: 8%;
    padding-left: 3%;
    padding-right: 3%;
}
.Titulo,
.Texto,
.NumeroPunto{
    color: var(--color-texto-blanco);
    margin: 0 0;
}



.Titulo{
    margin-bottom: 20px;
}
.Texto{
    margin-bottom: 50px;
}



.Contenedor1 {
    grid-row: 1;
}
.Contenedor2 {
    grid-row: 2;
}
.Contenedor3 {
    grid-row: 3;
}
.Contenedor4 {
    grid-row: 4;
}
.Contenedor5 {
    grid-row: 5;
}
.Contenedor6 {
    grid-row: 6;
}
.Contenedor7 {
    grid-row: 7;
}
.Contenedor8 {
    grid-row: 8;
}
.Contenedor9 {
    grid-row: 9;
}
.Contenedor10 {
    grid-row: 10;
}
.Contenedor11 {
    grid-row: 11;
}
.Contenedor12 {
    grid-row: 12;
}
.Contenedor13 {
    grid-row: 13;
}





.contenedorPunto{
    grid-column: 3;
    margin-top: calc(153px + ((clamp(1120px, 100vw, 1920px) - 1120px) * (10 / 800)));
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center; /* centro vertical */
    display: flex;
    flex-direction: column;
    transform: translateX(30px);
}
.ImagenPunto{
    height: 100px;
}
.NumeroPunto{
    font-size: 25px;
    color: var(--color-texto-negro-cambio2);
}


@media (min-width: 1500px) {
    .Titulo {
        font-size: 28px;
    }

    .Texto {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .Titulo{
        font-size: 16px;
    }
    .Texto{
        font-size: 14px;
    }
}



/*160*/