/* Contenedor principal */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 20px;
}

/* Contenedor de la imagen */
.imageContainer {
    position: relative;
    width: 55%;
    height: auto;
    display: flex;
    left: 10%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 30px;
}

/* Imagen de fondo */
.backgroundImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #0a4d8c;
}

/* Contenedor del gr치fico */
.chartWrapper {
    width: calc(min(1920px, 100vw)*0.40);
    height: calc(min(1920px, 100vw)*0.40);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    right: 0;
    top: 50%;
}

/* Contenedor del gr치fico */
.chartContainer {
    max-width: 100%;
    max-height: 100%;
    background: var(--color-fondo);
    position: relative;
    border-radius: 50%;
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(10px, 70vw, 650px);
    height: clamp(10px, 70vw, 650px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Asegurar que el canvas del gr치fico se agrande */
.chartContainer canvas {
    width: 100% !important;
    height: 100% !important;
}

/* Estilos generales para los textos que rotan con el gr치fico */
.segmentLabel {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    color: white;
    transition: transform 0.5s ease;
}

.label1 { margin: 0 auto; top: 10%;  transform-origin: center; }
.label2 { margin: auto 0; left: 0%; transform-origin: center; }
.label3 { margin: 0 auto; bottom: 10%;  transform-origin: center; }
.label4 { margin: auto 0; right: 0%; transform-origin: center; }

/* Texto central */
.centerText {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 35%;
    font-weight: normal;
    color: var(--color-texto-negro-cambio);
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: clamp(17px, 1.5vw, 28px);
}


/* Ajustes generales en responsive */
@media (min-width: 1600px) {
    .centerText {
        width: 40%;
        font-size: clamp(15px, 1.5vw, 30px);
    }

    .chartContainer {
        width: clamp(300px, 50vw, 6000px);
        height: clamp(300px, 50vw, 6000px);
    }

    .imageContainer {
        width: 45%;

    }
}

/* Escalado por encima de 1400px */
@media (min-width: 1400px) {
    .segmentLabel {
        font-size: clamp(25px, 1.5vw, 35px);
    }

    .centerText {
        width: 35%;
        /*font-size: clamp(17px, 1vw, 25px);*/
    }

    /*.label1 { top: 10%; left: 40%; }*/
    /*.label2 { top: 48%; left: 3%; }*/
    /*.label3 { bottom: 10%; left: 45%; }*/
    /*.label4 { top: 48%; right: 1%; }*/
}


@media (max-width: 1024px) {
    .label1 { top: 8%; }
    .label2 { left: -5px; }
    .label3 { bottom: 8%; }
    .label4 { right: -5px;  }


    .wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 5vw;
    }

    .imageContainer {
        width: 90vw;
        left: 0;
    }

    .chartWrapper {
        width: clamp(300px, 80vw, 1000px);
        height: clamp(300px, 80vw, 1000px);
        margin-top: -120px;
        position: relative;
        left: 0;
        justify-content: center;
        align-items: center;
    }

    .chartContainer {
        width: clamp(250px, 100vw, 80vw);
        height: clamp(250px, 100vw, 80vw);
        top: 0;
        transform: none;
    }

    .segmentLabel {
        font-size: clamp(18px, 4vw, 30px);
    }

    .centerText {
        width: 40%;
        font-size: clamp(15px, 3vw, 24px);
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
    }
}
@media (max-width: 850px) {
    .label1 { top: 8%; }
    .label2 { left: -10px; }
    .label3 { bottom: 8%; }
    .label4 { right: -10px;  }
}

@media (max-width: 500px) {
    .centerText {
        width: 50%;
        font-size: clamp(13px, 3vw, 24px);
    }
    .label2 { left: -15px; }
    .label4 { right: -15px;  }
}
@media (max-width: 400px) {
    .label1 { top: 6%; }
    .label2 { left: -19px; }
    .label3 { bottom: 6%; }
    .label4 { right: -19px;  }
}
@media (max-width: 350px) {
    .chartWrapper {
        width: clamp(300px, 100%, 1000px);
        height: clamp(300px, 100%, 1000px);
    }
}