.contenedorPrincipal {
    background-color: var(--color-Azul-General);
    color: #fff;
    padding: 40px;
}

.gridFooter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.mapa {
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 20px;
}
.mapa iframe {
    pointer-events: auto;
    position: relative;
    z-index: 10;
}

.ContenedorIzq{
    grid-column: 1;
    position: relative;
    width: 100%;
    height: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    position: absolute;
    right: 0;
    width: 85%;
}

.titulo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 100px;
    height: 100px;
}

.descripcion {
    font-size: 14px;
    line-height: 1.5;
}

.contacto {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 30px;
}

.item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icono {
    width: 30px;
    height: 30px;
}
.Titulo{
    font-size: 32px;
}
.Texto{
    font-size: 20px;
}

@media (max-width: 1046px) {
    .contenedorPrincipal {
        height: 450px;
    }
    .info {
        right: auto;
        left: 0;
        width: 100%;
    }
    .contacto{
        gap: 20px;
    }
    .gridFooter{
        height: 100%;
    }
}
@media (max-width: 900px) {
    .gridFooter{
        grid-template-columns: 1fr;
    }
    .contenedorPrincipal {
        height: 700px;
    }
    .ContenedorIzq {
        min-height: 250px;
    }
    .mapa{
        width: 60%;
        margin: auto;
    }
}
@media (max-width: 665px) {
    .ContenedorIzq {
        min-height: 270px;
    }
    .contenedorPrincipal {
        height: 750px;
    }
    .mapa{
        width: 80%;
        margin: auto;
    }
}
@media (max-width: 475px) {
    .ContenedorIzq {
        min-height: 270px;
    }
    .contenedorPrincipal {
        height: 700px;
    }
    .mapa{
        width: 80%;
        margin: auto;
    }
    .Texto{
        font-size: 14px;
    }
    .Titulo{
        font-size: 26px;
    }
}
@media (max-width: 455px) {
    .ContenedorIzq {
        min-height: 270px;
    }
    .contenedorPrincipal {
        height: 700px;
    }
    .mapa{
        width: 90%;
        margin: auto;
    }
    .contacto{
        padding-left: 0;
    }
    .Texto{

    }
}
@media (max-width: 420px) {
    .contenedorPrincipal {
        height: 730px;
    }
    .mapa{
        width: 90%;
        margin: auto;
    }
}

@media (max-width: 337px) {
    .contenedorPrincipal {
        height: 790px;
    }
}