.header {
    width: 100vw;
    overflow: hidden; /* Evita desbordamientos */
    position: relative; /* Para posicionar correctamente la imagen, textos y logo */
    padding-bottom: 4%; /* Espacio vacío debajo del contenedor padre */
}

.headerImageContainer {
    position: relative; /* Asegura que los elementos absolutos dentro de este contenedor se posicionen en relación con él */
    width: 100%;
    height: auto;
}

.headerImage {
    width: 100%; /* Ocupa el 100% del ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
    display: block; /* Elimina espacios adicionales debajo de la imagen */
    min-height: 300px;
    object-fit: cover;
}

h1, p {
    margin: 0;
    padding: 0;
}

.BarraPrincipal{
    position: absolute; /* Posiciona el contenedor de textos de manera absoluta */
    top: -5px;
    width: 101%;
    height: 100px;
    background: transparent;
    transform: translateX(-50%);
    left: 50%;
    border: 2px solid white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.IntermedioBarraPrincipal{
    width: 100%;
    height: 100%;
    position: relative;
}
.BarraContenedorDeBotones{
    display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 5% ;
    width: 60%;

}
.BotonItem{
    color: var(--color-texto-blanco);
    font-size: 20px;
}

.BarraContenedorDeBanderas{
    display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 5%;
    width: 200px;
    height: 70%;
    align-items: center;
}
.BanderaItem {
    background: transparent;
    aspect-ratio: 3 / 2;
    max-height: 50%;
    overflow: hidden; /* evita que se salga */
    border-radius: 4px; /* opcional */
}

.BanderaImagen {
    width: 100%;
    height: 100%;
    object-fit: cover; /* evita deformación */
    object-position: center; /* centra la imagen */
}

.ContenedorContenedorImagen{
    position: absolute; /* Posiciona el contenedor de textos de manera absoluta */
    transform: translateY(-50%);
    top: 55%; /* Posición relativa desde la parte superior */
    right: 5%;
    overflow: hidden;
}


.textContainer {
    position: absolute; /* Posiciona el contenedor de textos de manera absoluta */
    transform: translateY(-50%);
    top: 55%; /* Posición relativa desde la parte superior */
    left: 4%; /* Posición relativa desde la izquierda */
    width: 930px; /* Ancho relativo al contenedor */
    height: auto ; /* Altura automática */
    gap: 30px;
    z-index: 1; /* Asegura que los textos estén por encima de la imagen */
    text-align: left; /* Alinea el texto a la izquierda */
    display: flex;
    flex-direction: column;
    justify-content: space-between
}


.ContenedorContenedorImagen {
    position: absolute;
    transform: translateY(-50%);
    top: 55%;
    right: 5%;

    width: 800px;  /* ajusta si deseas */
    height: 600px;

    overflow: hidden;
}





.ContenedorImagen {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* IMPORTANTE para ocultar el slide */
}

.Imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: none; /* o lo puedes dejar para un fade suave */
    position: relative; /* que esté dentro del contenedor */
    z-index: 10;
}


.text1, .text2, .text3 {
    margin: 0; /* Elimina el margen predeterminado */
    padding: 0; /* Elimina el padding predeterminado */
}

.text1 {
    font-size: 5vw; /* Tamaño relativo al contenedor */
    color: var(--color-texto-blanco); /* Color del primer texto */
}
.TitulotextoNormal{

}
.Titulotextodestacado{
    color: var(--color-Amarillo-General);
}

.text2 {
    font-weight: bold; /* Texto en negrita */
    font-size: 5.2vw; /* Tamaño relativo al contenedor */
    color: var(--color-rojo-general-cambio); /* Color del segundo texto */
    margin-bottom: 2vw;
}

.text3 {
    width: 85%;
    text-shadow: none; /* Elimina la sombra del texto */
    font-size: clamp(20px,1.35vw,28px); /* Tamaño relativo al contenedor */
    color: var(--color-texto-blanco); /* Color del tercer texto */
}

.logo {
    position: absolute; /* Posiciona el logo de manera absoluta dentro del header */
    top: 5%; /* Posición relativa desde la parte superior */
    left: 5%; /* Posición relativa desde la izquierda */
    width: 10%; /* Tamaño relativo al contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    z-index: 1; /* Asegura que el logo esté por encima de la imagen */
}

.buttonContainer {
    position: absolute; /* Posiciona el contenedor de botones de manera absoluta */
    top: 75%; /* Ajusta la posición vertical según sea necesario */
    left: 10%; /* Misma posición horizontal que el textContainer */
    width: 40%; /* Mismo ancho que el textContainer */
    height: 6%; /* Altura relativa al contenedor */
    display: flex; /* Usa flexbox para alinear los botones horizontalmente */
    gap: 2vw; /* Espacio entre los botones */
    z-index: 1; /* Asegura que los botones estén por encima de la imagen */
}

/* Estilo para el botón primario */
.buttonPrimary {
    width: 30%; /* Ancho relativo al contenedor */
    /*padding: 1vw 2vw; !* Espaciado interno relativo al contenedor *!*/
    font-size: clamp(16px, 1.3vw, 25px);
    color: var(--color-texto-blanco); /* Color del texto */
    background-color: var(--color-Azul-General);
    border: none; /* Elimina el borde */
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Elimina el borde azul al hacer clic */
    display: flex; /* Habilita Flexbox */
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    height: 50px; /* Asegura que el botón ocupe toda la altura del contenedor */
    font-weight: 600;

}

/* Estilo para el botón secundario */
.buttonSecondary {
    width: 30%; /* Ancho relativo al contenedor */
    /*padding: 1vw 2vw; !* Espaciado interno relativo al contenedor *!*/
    font-size: clamp(16px, 1.3vw, 25px);
    background-color: var(--color-rojo-general-cambio);
    color: var(--color-texto-blanco); /* Color del texto */
    border-radius: 10px; /* Bordes redondeados */

    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transición suave para el hover */
    outline: none; /* Elimina el borde azul al hacer clic */
    display: flex; /* Habilita Flexbox */
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    height: 100%; /* Asegura que el botón ocupe toda la altura del contenedor */
    font-weight: 600;
}

.centeredBottomContainer {
    position: absolute; /* Posiciona el contenedor de manera absoluta */
    left: 50%; /* Lo coloca en el centro horizontal */
    bottom: 0;
    border-radius: 25px; /* Bordes redondeados */
    transform: translateX(-50%); /* Centra el contenedor horizontalmente */
    width: 60%; /* Reducimos el ancho a 50% (ajusta este valor según tus necesidades) */
    height: auto; /* Altura automática */
    z-index: 1; /* Asegura que esté por encima de otros elementos */
    text-align: center; /* Alinea el contenido al centro */
    background-color: var(--color-rojo-general-cambio); /* Fondo semitransparente (opcional) */
    padding: 0; /* Espaciado interno (opcional) */
    color: var(--color-texto-blanco); /* Color del texto (opcional) */
    display: grid; /* Usa CSS Grid */
    grid-template-columns: repeat(3, 0.7fr); /* 3 columnas de igual ancho */
    grid-template-rows: 0.6fr 0.1fr; /* La primera fila tiene el doble de altura que la segunda */
    gap: 1vw; /* Espacio entre los elementos del grid */
}

/* Estilo para los elementos de la fila superior */
.gridItemTop {
    font-weight: bold;
    border-radius: 10px; /* Bordes redondeados */
    font-size: clamp(20px, 4vw, 60px); /* Reducimos el tamaño de fuente para que se ajuste mejor */
    display: flex; /* Usa Flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
}

/* Estilo para los elementos de la fila inferior */
.gridItemBottom {
    font-weight: normal;
    border-radius: 10px; /* Bordes redondeados */
    font-size: clamp(12px, 1vw, 24px); /* Tamaño de fuente relativo al contenedor */
    display: flex; /* Usa Flexbox para centrar el contenido */
    align-items: center; /* Centra verticalmente */
    justify-content: center; /* Centra horizontalmente */
    padding-bottom: 8%; /* Espacio vacío debajo del contenedor padre */
}






@media (max-width: 1880px) {
    .textContainer {
        width: 800px; /* Ancho relativo al contenedor */
        height: auto; /* Altura automática */
    }
}
@media (max-width: 1660px){
    .textContainer {
        width: 720px; /* Ancho relativo al contenedor */
        height: auto; /* Altura automática */
    }
    .ContenedorContenedorImagen{
        width: 700px;
        height: auto;
    }
}
@media (max-width: 1550px) {
    .text3 {
        width: 85%;
        font-size: clamp(20px,1.5vw,28px); /* Tamaño relativo al contenedor */
    }
}
@media (max-width: 1500px) {
    .BotonItem{
        max-width: 120px;
        align-items: center;
        display: flex;
        text-align: center;
    }
}
@media (max-width: 1480px){
    .textContainer {
        width: 600px; /* Ancho relativo al contenedor */
        height: auto; /* Altura automática */
    }
    .ContenedorContenedorImagen{
        width: 650px;
        height: auto;
    }
}
@media (max-width: 1260px){
    .headerImageContainer{
        height: 1000px;
    }
    .headerImage {
        width: 100%; /* Ocupa el 100% del ancho del contenedor */
        height: 100%; /* Ajusta la altura automáticamente para mantener la relación de aspecto */
        object-fit: cover;
    }
    .textContainer {
        width: 60%; /* Ancho relativo al contenedor */
        gap: 30px;
        top: 60%; /* Ajusta la posición vertical según sea necesario */
        /*top: auto;*/
        left: 52%; /* Misma posición horizontal que el textContainer */
        transform: translateX(-50%);
    }
    .ContenedorContenedorImagen{
        width: 650px;
        height: auto;
        top: 10%;
        left: 50%; /* Misma posición horizontal que el textContainer */
        transform: translateX(-50%);
    }
}
@media (max-width: 1200px) {
    .buttonContainer{
        top: 78%; /* Ajusta la posición vertical según sea necesario */
    }
}
@media (max-width: 1000px){
    .BotonItem{
        font-size: 16px;
        max-width: 120px;
    }
}
@media (max-width: 1024px) {

    .text3 {
        font-size: 1.5vw;
    }

    .logo {
        width: 12%; /* Aumenta un poco el tamaño del logo para mayor visibilidad */
    }
    .buttonContainer{
        top: 78%;
    }

}
@media (max-width: 945px){
    .buttonContainer{
        /*top: 390px;*/
    }
}
@media (max-width: 910px){
    .buttonContainer{
        /*top: 370px;*/
    }
}
@media (max-width: 900px){
    .buttonPrimary,.buttonSecondary{
        width: 35%; /* Ancho relativo al contenedor */

    }
    .buttonContainer{
        /*top: 360px;*/
    }
    .centeredBottomContainer{
        bottom: 0px;
        /*bottom: clamp(-25px, -0.5vw, 0px);*/
        width: 75%;
        gap: 0; /* Espacio entre los elementos del grid */
    }
}
@media (max-width: 840px){
    .BotonItem{
        font-size: 14px;
        max-width: 80px;
    }
    .BanderaItem {
        max-height: 40%;
    }
    .BarraContenedorDeBanderas{
        right: 5%;
        width: 160px;
    }
    .BarraContenedorDeBotones{
        top: 50%;
        left: 5% ;
        width: 63%;

    }
}
@media (max-width: 800px) {
    .text3 {
        font-size: clamp(12px, 1vw, 24px);
    }
    .buttonPrimary,.buttonSecondary{
        font-size: clamp(12px, 1vw, 24px);

    }
}
@media (max-width: 768px) {
    .text1 {
        font-size: clamp(18px, 5vw, 35px);
    }

    .text2 {
        font-size: clamp(18px, 6vw, 35px);
    }



    .logo {
        width: 15%; /* Hace el logo más visible en pantallas pequeñas */
    }

    .buttonContainer{
        /*top: clamp(250px, 75%, 270px); !* Ajusta la posición vertical según sea necesario *!*/
        left: 8%;
        width: 50%;
    }

    .centeredBottomContainer{
        bottom: 20px;
        /*bottom: clamp(-25px, -0.5vw, 0px);*/
        width: 75%;
        gap: 0; /* Espacio entre los elementos del grid */
    }

    .gridItemTop{
        font-size: clamp(20px, 3vw, 60px);
    }

    .gridItemBottom{
        font-size: clamp(12px, 0.8vw, 24px);
    }

}

@media (max-width: 630px) {
    .header{
        padding-bottom: 0; /* Espacio vacío debajo del contenedor padre */
    }
    .BotonItem{
    }
    .BanderaItem {
        max-height: 20%;
    }
    .BarraContenedorDeBanderas{
        flex-direction: column;
        justify-content: space-between; /* 1º arriba, último abajo, el resto se reparte */
        align-items: flex-end;          /* Todo pegado al lado derecho */
    }
    .celda5 {
        grid-column: 3; /* columna 3 */
        grid-row: 2;     /* fila 2 */

    }
    .BarraContenedorDeBotones{
        top: 50%;
        left: 5% ;
        width: 75%;
        display: grid;
        row-gap: 20px;
        grid-template-columns: repeat(3, 1fr); /* 3 columnas del mismo tamaño */
        place-items: center;
    }
    .BarraPrincipal{
        height: 200px;
    }
    .ContenedorContenedorImagen{
        width: 95%;
        top:20%
    }
    .textContainer{
        top: 63%;
    }
    .header{
        max-height: 900px;
    }
}

@media (max-width: 600px){


    .buttonContainer{
        /*top: clamp(230px, 80%, 250px); !* Ajusta la posición vertical según sea necesario *!*/
        left: 8%;
        width: 50%;
        height: 23px;
    }

    .centeredBottomContainer{
        bottom: clamp(0px, 1%, 10px);
        width: 85%;
        gap: 0; /* Espacio entre los elementos del grid */
    }

    .gridItemTop{
        font-size: 17px;
    }

    .gridItemBottom{
        font-size: 12px;
    }


}

@media (max-width: 520px) {

    .textContainer{
        top: 56%;
    }
    .header{
        max-height: 820px;
    }
}
@media (max-width: 465px) {

    .textContainer{
        top: 53%;
        width: 80%;
    }
    .header{
        max-height: 820px;
    }
}
@media (max-width: 470px){
    .buttonContainer{
        /*top: 70%;*/
    }
    .buttonPrimary,.buttonSecondary{
        min-width: 75px;
    }
}
@media (max-width: 400px) {

    .textContainer{
        top: 47%;
    }
    .header{
        max-height: 740px;
    }
}
@media (max-width: 337px) {
    .centeredBottomContainer{
        bottom: 0;
        width: 90%;
    }
}