
.marqueeWrapper {
    position: relative;
    /*width: 100vw;*/
    height: 300px;

}

/*.marqueeContainer {*/
/*    height: 100%;*/
/*    overflow: hidden;*/
/*    white-space: nowrap;*/
/*    position: relative;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    padding-top: 20px;*/
/*    padding-bottom: 20px;*/
/*    margin: auto;*/
/*}*/

.marqueeContainer {
    display: flex;
    align-items: center;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.marqueeInner {
    display: flex;
    animation: marqueeAnimation 20s linear infinite;
}

@keyframes marqueeAnimation {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-25%);
    }
}


.marqueeItemContainer {
    height: 100%;
    max-width: 200px;
    margin-right: 2%;
    text-align: center;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.marqueeItem, .marqueeItemGrande{
    height: 150px;
}


.marqueeItem {
    width: auto;
    min-width: 50px;
    min-height: 50px;
    /*filter: grayscale(100%);*/
}

.marqueeItemGrande{
    width: auto;
    min-width: 50px;
    min-height: 50px;
}

.subtitleContainer {
    margin-top: 8px;
    white-space: normal;
}

.subtitle1 {
    height: auto;
    width: 80%;
    font-size: 14px;
    white-space: normal;
    font-weight: bold;
    color: var(--color-texto-negro-cambio);
    margin: 0;
}

.subtitle2 {
    font-size: 12px;
    font-weight: bold;
    color: var(--color-general-gris);
    margin: 0;
}

/*@keyframes marqueeAnimation {*/
/*    0% {*/
/*        transform: translateX(0%);*/
/*    }*/
/*    100% {*/
/*        transform: translateX(var(--translateX));*/
/*    }*/
/*}*/

.leftFade, .rightFade {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7.8%;
    z-index: 2;
    pointer-events: none;
    background: var(--color-fondo);
}

.leftFade {
    left: 0;
}

.rightFade {
    right: 0;
}
