.ContenedorPadre{
    position: relative;
    width: 100vw;
    height: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.ContenedorCentrado{
    width: 80%;
    height: 100%;
}

.ContenedorImagen img{

}
.Laimagen{
    position: absolute;
    width: 100%;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: 10% 50%;
    border-radius: 20px;
}

.ContenedorImagen{
    object-fit: cover;

    position: relative;
    width: 100%;
    height: 100%;
    background: transparent;
}

.ContenedorInterno{
    z-index: 100; /* se asegura de estar encima de la imagen */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center;     /* centra verticalmente */
    position: absolute;
}

.ContenedorGrid{
    display: grid;

    grid-template-rows: auto auto;
    gap: 25%;
    transform: translateY(-40%);
}
.Texto{
    z-index: 10; /* se asegura de estar encima de la imagen */
    margin: 0 auto;
    font-size: clamp(20px, 4.6875vw, 90px);
    font-weight: bold;
    color: var(--color-texto-blanco);
}
.Boton{
    margin: 0 auto;
    background: transparent;
    border: calc(2px + (clamp(320px, 100vw, 1920px) - 320px) * 3 / 1600) solid var(--color-texto-blanco);
    border-radius: 10px;
    color: var(--color-texto-blanco);
    font-size: calc(16px + (clamp(320px, 100vw, 1920px) - 320px) * 14 / 1600);
    padding: 8px 16px;
    width: calc(87.91px + (clamp(320px, 100vw, 1920px) - 320px) * 263.72 / 1600);
/*
    351.63
263.72

calc(87.91px - (clamp(320px, 100vw, 1920px) - 320px) * 263.72 / 1600)*/
    transition: 0.3s ease;
    text-align: center;
}

.Boton:hover{
    background: var(--color-texto-negro2);
}


@media (max-width: 800px) {
    .ContenedorPadre{
        height: 60vw;
    }
    .ContenedorCentrado{
        width: 100%;
    }
}
