.textContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.texto {
    max-width: clamp(0px, 70vw, 1300px);
    font-size: clamp(0px, 1.9vw, 100px);
    font-weight: 400;
    color: var(--color-texto-negro-cambio2);
    line-height: 1.3;
}

.resaltado {
    color: var(--color-rojo-general);
    font-weight: bold;
}
/*@media (max-width: 1000px) {*/
/*    .texto {*/
/*        font-size: 22px;*/
/*    }*/
/*}*/
/* Responsive para pantallas m치s peque침as */
/*@media (max-width: 768px) {*/
/*    .texto {*/
/*        font-size: 20px;*/
/*    }*/
/*}*/

/* Laptops (1200px a 1599px) */
@media (max-width: 1599px) {
    .texto {
        font-size: clamp(26px, 2.4vw, 30px); /* Fluido entre 26 y 30px */
    }
}

/* Tablets (768px a 1199px) */
@media (max-width: 1199px) {
    .texto {
        font-size: clamp(22px, 3.2vw, 26px); /* Fluido entre 22 y 26px */
    }
}

/* M칩viles grandes (480px a 767px) */
@media (max-width: 767px) {
    .texto {
        font-size: clamp(18px, 4.2vw, 22px); /* Fluido entre 18 y 22px */
    }
}

/* M칩viles chicos (320px a 479px) */
@media (max-width: 479px) {
    .texto {
        font-size: clamp(16px, 5vw, 18px); /* Fluido entre 16 y 18px */
    }
}
