/* Overlay para cubrir toda la pantalla */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Soporte moderno */
    height: 100dvh;

    /* Fallback para navegadores antiguos */
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

/* Panel centrado en la pantalla */
.modal {
    background-color: #fff;
    width: 90%;
    height: 90%; /* Altura fija para el modal */
    max-height: min(1080px, 90vh);
    max-width: min(1920px, 90vw);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1001;
    cursor: default;
    overflow: hidden;
    border-radius: 20px;
}

/* Header del modal */
.modalHeader {
    background-color: var(--color-rojo-general);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

/* Título del header */
.modalTitle {
    font-size: clamp(1.4rem, 2vw, 2.3rem);
    font-weight: bold;
}

/* Cuerpo del modal */
.modalBody {
    overflow: hidden;
    overflow-y: auto;      /* Habilita scroll vertical solo si el contenido excede la altura */
    padding: 20px;
    color: #333;
    height: 70%;
    background: var(--colorModalFondo);

}

/* Contenedor principal de texto */
.mainTextContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.mainText {
    font-size: clamp(1rem, 1.4vw, 1.7rem);
    line-height: 1.6;
    color: var(--color-texto-negro2);
    padding: 10px;
    border-radius: 5px;
}
/* Contenedores de izquierda y derecha */
.row {
    display: flex;
    justify-content: space-between;
    margin-top: calc((((clamp(800px, 100vh, 1200px) - 800px) *  0.0025) * 110) + 30px);
    height: clamp(200px, (1vh + 1vw)*60, 400px);
}

.containerLeft,
.containerRight {
    width: 48%; /* Cada uno toma el 48% del ancho */
    padding: 10px;
    border-radius: 8px;

    /* O: */
    justify-content: flex-start; /* Si el problema es en el eje vertical */

    /* Usamos flexbox para centrar los elementos dentro de los contenedores */
    display: flex;
    flex-direction: column; /* Organiza los elementos verticalmente */
    align-items: center; /* Centra los elementos en el eje horizontal */
    /*justify-content: center; /* Centra los elementos en el eje vertical */
}

.containerLeft img,
.containerRight img {
    width: auto; /* Imagen ocupa todo el ancho del contenedor */
    height: clamp(50px, (1vw + 1vh) * 5, 200px);
    border-radius: 8px;
}

.title {
    font-size:clamp(1rem, 1.7vw, 2rem) ;
    font-weight: normal;
    padding-top: 25px;
    color: var(--color-texto-negro);
    margin: 0;
}


.text {
    font-size:clamp(1rem, 1.3vw, 25px);
    color: #555;
    margin-top: 0;
    padding-top: 5px;
    text-align: center;
}

/* Footer del modal */
.modalFooter {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: var(--colorModalFoter);

    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
}

.closeButton {
    padding: 10px 20px;
    width: 15%;
    height: 40%;
    font-size: clamp(1.3rem, 1.42vw, 1.7rem);
    cursor: pointer;
    background-color: var(--color-rojo-general);
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 10px)); /* mueve hacia arriba sin romper el centrado */
}



/*.closeButton {*/
/*    padding: 10px 20px;*/
/*    width: 15%;*/
/*    height: 40%;*/
/*    font-size: clamp(1.3rem, 1.42vw, 1.7rem);*/
/*    cursor: pointer;*/
/*    background-color: var(--color-rojo-general);*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    position: absolute;*/
/*    top: 30%;*/
/*    transform: translateY(calc(-50% - 10px)); !* mueve hacia arriba sin romper el centrado *!*/
/*}*/

.closeButton:hover {
    background-color: var(--color-rojo-generalOscuro);
}
/*
portrait    es cuando el ancho es menor al alto
------
|    |
|    |
|    |
------
landscape   es cuando el  alto es menor al ancho
-----------
|         |
-----------
*/
@media (max-width: 1200px) {
    .closeButton {
        padding: 0 0;
        width: 30%;
        min-width: 80px;
        min-height: 25px;
        transform: translateY(calc(-50%)); /* mueve hacia arriba sin romper el centrado */
    }
    .modalBody {
        height: calc(90% - 100px);
        padding-top: 0;
        padding-bottom: 0;
    }
    .modalFooter {
        /*padding: 10px;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        height:100px;
        /*position: relative;*/
    }
}
@media (max-height: 830px){
    /*.closeButton {*/
    /*    top: 50%;*/
    /*    transform: translateY(calc(-50%)); !* mueve hacia arriba sin romper el centrado *!*/
    /*    line-height: 50%;*/
    /*    height: 60%;*/
    /*}*/
}
@media (max-height: 722px){
    .row {
        margin-top: 0;
    }
    .mainTextContainer{
        margin-bottom: 0;
    }
    .mainText{
        font-size: 0.9rem;
    }
}
@media (max-width: 1600px){
    .containerLeft img,
    .containerRight img {
        width: auto; /* Imagen ocupa todo el ancho del contenedor */
        height: clamp(90px, (1vw + 1vh) * 5,200px);
    }

    .text{
        font-size: clamp(1rem, (1vh + 1vw)*1.1, 1.5rem);

    }
    .title{
        font-size: clamp(1.4rem, (1vh + 1vw)*1.2, 1.85rem);
    }
    .mainText{
        font-size: clamp(1rem, (1vh + 1vw)*1.1, 2rem);
    }
    .modalTitle{
        font-size: clamp(1.4rem,calc((1vh + 1vw)*1.8), 2.5rem)
    }
    /*.closeButton{*/
    /*    font-size: clamp(1rem, (1vh + 1vw)*1.1, 2rem);*/
    /*}*/

}

@media (max-width: 1200px){
    .mainText{

    }
}
@media (max-width: 700px), (max-height: 700px) {
    .modalBody {

        scrollbar-color: rgba(0, 0, 0, 0.7) transparent;
    }
    .modalBody::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.7); /* Negro semi-transparente para oscurecer */
    }
    .modalBody {
        padding-right: 10px;   /* Espacio a la derecha para que el scroll no tape contenido */
    }

    .row {
        flex-direction: column; /* Cambia la dirección de los hijos de fila (horizontal) a columna (vertical) */
        margin-top: 20px;       /* Espacio arriba para separar de otros elementos */
        height: auto;           /* La altura se adapta automáticamente al contenido vertical */
    }

    .containerLeft,
    .containerRight {
        width: 100%;            /* Hace que los contenedores ocupen todo el ancho disponible */
        margin-bottom: 20px;    /* Espacio debajo para separar los bloques apilados */
    }
    /*.closeButton{*/
    /*    font-size: clamp(1.3rem, (1vh + 1vw)*1.1, 2rem);*/
    /*    top: 50%;*/
    /*    transform: translateY(calc(-50%)); !* mueve hacia arriba sin romper el centrado *!*/
    /*    line-height: 50%;*/
    /*    min-width: 100px;*/
    /*    height: 50%;*/
    /*    width: auto;*/
    /*    aspect-ratio: 16 / 9;*/
    /*}*/
}

