/* Overlay para cubrir toda la pantalla */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* Soporte moderno */
    height: 100dvh;

    /* Fallback para navegadores antiguos */
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

/* Panel centrado en la pantalla */
.modal {
    background-color: #fff;
    width: 90%;
    height: 90%; /* Altura fija para el modal */
    max-height: min(1080px, 90vh);
    max-width: min(1920px, 90vw);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1001;
    cursor: default;
    overflow: hidden;
    border-radius: 20px;
}

/* Header del modal */
.modalHeader {
    background-color: var(--color-rojo-general);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

/* Título del header */
.modalTitle {
    font-size: clamp(1.4rem, 1.67vw, 2rem);
    font-weight: bold;
}

/* Cuerpo del modal */
.modalBody {
    padding: 10px;
    color: #333;
    overflow: hidden;
    overflow-y: auto;
    height: 70%;
    background: var(--colorModalFondo);
}

/* Contenedor principal de texto */
.mainTextContainer {
    width: 100%;
    text-align: center;
}

.mainText {
    font-size: clamp(1.3rem, 2vw, 2rem);
    width: 97%;
    line-height: 1.6;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    display: block; /* Asegura que se trate como un bloque */
    margin: 0 auto; /* Centra horizontalmente */
}

.mainTextResaltado{
    composes: mainText;
    font-weight: bold;
}


/* Filas de contenedores (dos filas con dos elementos cada una) */
.row {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    width: 85%;
    margin: 0 auto;
}



.container img {
    width: auto; /* Imagen ocupa todo el ancho del contenedor */
    height: clamp(50px, (1vw + 1vh) * 5,200px);
    border-radius: 8px;
}

.container {
    width: 48%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px; /* Padding interno en lugar de márgenes */
    margin: 10px 0; /* Espacio entre contenedores */
}

.title {
    font-size: clamp(25px,1.5vw, 30px);/* Tamaño ligeramente reducido */
    color: var(--color-texto-negro);
    margin: 0 0; /* Margen controlado */
    text-align: center;
    padding-top: 10px;
    font-weight: normal;
}

.text {
    font-size: clamp(22px,1.5vw, 30px);
    color: #555;
    margin: 0 0;
    line-height: 1.4;
    text-align: center; /* Texto centrado */
}

/* Footer del modal */
.modalFooter {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: var(--colorModalFoter);

    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
}

.closeButton {
    padding: 10px 20px;
    width: 15%;
    height: 40%;
    font-size: clamp(1.3rem, 1.42vw, 1.7rem);
    cursor: pointer;
    background-color: var(--color-rojo-general);
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 10px)); /* mueve hacia arriba sin romper el centrado */
}

.closeButton:hover {
    background-color: var(--color-rojo-generalOscuro);
}
@media (max-width: 1200px) {
    .modalBody {
        height: calc(90% - 100px);
        padding-top: 0;
        padding-bottom: 0;
    }
    .modalFooter {
        /*padding: 10px;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        height:100px;
        /*position: relative;*/
    }
    .closeButton {
        padding: 0 0;
        width: 30%;
        min-width: 80px;
        min-height: 25px;
        transform: translateY(calc(-50%)); /* mueve hacia arriba sin romper el centrado */
    }
}

@media (max-width: 768px) {
    .row {
        flex-direction: column;
        align-items: center; /* opcional: centra los hijos cuando están en columna */
    }
    .container{
        width: 80%;
    }
}

@media (max-width: 400px) {
    .container{
        width: 100%;
    }
}