/* Overlay para cubrir toda la pantalla */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    /* Soporte moderno */
    height: 100dvh;

    /* Fallback para navegadores antiguos */
    height: calc(var(--vh, 1vh) * 100);
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro translúcido */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer; /* Hace que el cursor cambie a 'pointer' al estar sobre el fondo */
}

/* Panel centrado en la pantalla */
.modal {
    background-color: #fff; /* Fondo blanco */
    width: 90%;
    height: 90%; /* Altura fija para el modal */
    max-height: min(1080px, 90vh);
    max-width: min(1920px, 90vw);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;  /* Organiza el modal de arriba hacia abajo */
    position: relative;
    z-index: 1001;
    cursor: default;
    overflow: hidden;
    border-radius: 20px; /* Bordes redondeados */
}

/* Header del modal */
.modalHeader {
    background-color: var(--color-rojo-general); /* Fondo azul */
    color: white; /* Texto blanco */
    padding: 15px;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 10%; /* Altura fija para el header */
}

/* Título del header */
.modalTitle {
    font-size: clamp(1.4rem, 1.67vw, 2rem);
    font-weight: bold;
}

/* Cuerpo del modal */
.modalBody {
    padding: 20px;
    background-color: var(--colorModalFondo); /* Fondo gris claro */
    height: 70%;
    color: #333; /* Texto oscuro para legibilidad */
    display: flex;
    justify-content: space-between; /* Distribuye los elementos de forma proporcional */
    align-items: center;
    overflow: hidden;
    overflow-y: auto;      /* Habilita scroll vertical solo si el contenido excede la altura */
}

.modalBodyLeft {
    width: 40%; /* Toma el 40% del ancho */
    padding-left: 50px; /* Espacio entre los contenedores */
    color: #2c3e50; /* Color de texto más oscuro para mejor contraste */
    line-height: 1.6; /* Mejor legibilidad */
    position: relative; /* Hace que el contenedor sea el marco de referencia para los elementos dentro */

    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Estilo adicional para el texto en el contenedor izquierdo */
.modalBodyLeft p {
    width: 100%; /* Hace que el párrafo ocupe todo el ancho del contenedor */
    margin-bottom: 10px; /* Añade un espacio de 10px entre los párrafos */
    font-size: clamp(1.3rem, 1.25vw, 1.5rem); /* Tamaño de fuente estándar */
    text-align: left; /* Alinea el texto a la izquierda dentro del párrafo */
}



/* Contenedor derecho */
.modalBodyRight {
    width: 58%; /* Toma el 60% del ancho */
    padding-left: 10px; /* Espacio entre los contenedores */
    display: flex;
    justify-content: center; /* Centra la imagen en el contenedor */
    align-items: center; /* Centra la imagen verticalmente */
}

/* Estilo para la imagen */
.modalImage {
    max-width: 100%; /* La imagen no debe exceder el contenedor */
    max-height: 100%; /* La imagen se ajusta al tamaño del contenedor */
}

/* Footer del modal */
.modalFooter {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 100%;
    background-color: var(--colorModalFoter);

    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
}
/*.modal-Footer {*/
/*    background-color: #0a4d8c;*/
/*}*/


.closeButton {
    padding: 10px 20px;
    width: 15%;
    height: 40%;
    font-size: clamp(1.3rem, 1.42vw, 1.7rem);
    cursor: pointer;
    background-color: var(--color-rojo-general);
    color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 10px)); /* mueve hacia arriba sin romper el centrado */
}



/*.closeButton {*/
/*    padding: 0 0;*/
/*    width: 18%;*/
/*    height: 45%;*/
/*    font-size: clamp(1.3rem, 1.42vw, 1.7rem);*/
/*    cursor: pointer;*/
/*    background-color: var(--color-rojo-general);*/
/*    color: white;*/
/*    border: none;*/
/*    border-radius: 5px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    transform: translateY(calc(-50% - 10px)); !* mueve hacia arriba sin romper el centrado *!*/
/*}*/

.closeButton:hover {
    background-color: var(--color-rojo-generalOscuro); /* Azul más oscuro cuando se pasa el cursor */
}



/*
portrait    es cuando el ancho es menor al alto
------
|    |
|    |
|    |
------
landscape   es cuando el  alto es menor al ancho
-----------
|         |
-----------
*/



@media (max-width: 1200px) {
    .closeButton {
        padding: 0 0;
        width: 30%;
        min-width: 80px;
        min-height: 25px;
        transform: translateY(calc(-50%)); /* mueve hacia arriba sin romper el centrado */
    }
    .modalBody {
        height: calc(90% - 100px);
        /*height: 90%;*/
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
    }
    .modalFooter {
        /*padding: 10px;*/
        /*display: flex;*/
        /*justify-content: center;*/
        /*align-items: center;*/
        height:100px;
        /*position: relative;*/
    }
}
@media (max-width: 1200px) and (orientation: landscape){


    .modalBodyLeft p {
        font-size: clamp(0.8rem, calc((1vh + 1vw)*0.8), 2rem); /* Tamaño de fuente estándar */
    }
    .modalBodyLeft {
        width: 55%;

    }
    .modalBodyRight {
        width: 40%;
        max-height: 60%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px; /* Añade espacio entre secciones */
    }
    /*.closeButton {*/
    /*    padding: 0 0;*/
    /*    width: 18%;*/
    /*    height: 45%;*/
    /*    font-size: clamp(1.3rem, 1.42vw, 1.7rem);*/
    /*    cursor: pointer;*/
    /*    background-color: var(--color-rojo-general);*/
    /*    color: white;*/
    /*    border: none;*/
    /*    border-radius: 5px;*/
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    transform: translateY(-50%); !* mueve hacia arriba sin romper el centrado *!*/
    /*}*/
}

@media (max-width: 700px) and  (orientation: landscape){
    .modalBodyLeft p {
        font-size: clamp(0.8rem, calc((1vh + 1vw)*0.8), 2rem); /* Tamaño de fuente estándar */
    }
    /*.modal-Footer {*/
    /*    height: clamp(60px, 15%, 100px);*/
    /*    max-height: 100px;*/
    /*}*/
}
@media (max-width: 500px) and  (orientation: landscape){
    .modalBodyLeft p {
        font-size: clamp(0.8rem, calc((1vh + 1vw)*0.8), 2rem); /* Tamaño de fuente estándar */
    }
    /*.modal-Footer {*/
    /*    height: clamp(60px, 15%, 100px);*/
    /*    max-height: 100px;*/
    /*}*/
}

@media (max-width: 1200px) and (orientation: portrait){

    .modalBody {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        overflow: hidden;
    }

    .modalBodyLeft, .modalBodyRight {
        width: 100%;
        max-height: 60%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 20px; /* Añade espacio entre secciones */
    }

    .modalBodyRight {
        justify-content: center;
    }
    .modalImage{
        height: 100%;
        width: auto;
    }
    /*.closeButton {*/
    /*    padding: 0 0;*/
    /*    width: 18%;*/
    /*    height: 45%;*/
    /*    font-size: clamp(1.3rem, 1.42vw, 1.7rem);*/
    /*    cursor: pointer;*/
    /*    background-color: var(--color-rojo-general);*/
    /*    color: white;*/
    /*    border: none;*/
    /*    border-radius: 5px;*/
    /*    position: absolute;*/
    /*    top: 50%;*/
    /*    transform: translateY(-50%); !* mueve hacia arriba sin romper el centrado *!*/
    /*}*/
    /*.modal-Footer {*/
    /*    height: 10%; !* Altura fija para el footer *!*/
    /*    max-height: 100px;*/
    /*}*/
    .modalBodyLeft p {
        font-size: clamp(0.8rem, calc((1vh + 1vw)*0.8), 2rem); /* Tamaño de fuente estándar */
    }
}
@media (max-width: 850px) and (orientation: portrait){

    .modalBodyLeft p {
        font-size: clamp(0.8rem, calc((1vh + 1vw)*0.8), 2rem); /* Tamaño de fuente estándar */
    }

    /*.modal-Footer {*/
    /*    height: 13%;*/
    /*}*/
}
@media (max-width: 600px) and (orientation: portrait){
    /*.closeButton{*/
    /*    width: 25%;*/
    /*    min-width: 70px;*/
    /*}*/
}